[user]
        name = AJ Alon
[core]
        editor = code --wait
        # editor = vim
        # if code isn't available and not on cli
[push]
        default = current
        gpgSign = if-asked
[alias]
        co = checkout
        ci = commit
        cp = cherry-pick
        st = status
        br = branch
        graph = log --graph --oneline --abbrev-commit
        adp = add -p
        cop = checkout -p -- .
        rhp = reset HEAD -p
        l = log -1 HEAD
        l2 = log -2 HEAD
        l3 = log -3 HEAD
        rebaseia = rebase -i --autosquash
[stash]
        showPatch = true
[rebase]
        missingCommitsCheck = error
        autoSquash = true
