[user]
        name = AJ Alon
        email = alexander.joel.alon@gmail.com
[core]
        editor = code --wait
        # editor = vim
        # if code isn't available and not on cli
[push]
        default = current
        gpgSign = if-asked
[stash]
        showPatch = true
[rebase]
        missingCommitsCheck = error
        autoSquash = true
[branch]
        autosetuprebase = always
[credential]
        helper = osxkeychain
[checkout]
        defaultRemote = origin
[alias]
        co = checkout
        ci = commit
        cp = cherry-pick
        st = status
        br = branch
        nb = switch -c
        graph = log --graph --oneline --abbrev-commit
        adp = add -p
        cop = checkout -p -- .
        rhp = reset HEAD -p
        rsp = restore --staged -p
        sp = stash -p
        l = log -1 HEAD
        l2 = log -2 HEAD
        l3 = log -3 HEAD
        # https://davidwalsh.name/get-default-branch-name
        default-branch = git remote show origin | grep 'HEAD branch' | cut -d' ' -f5
        rebaseia = rebase -i --autosquash
        rebaseiam = !git rebase -i --autosquash $(git default-branch)
        please = push --force-with-lease
        praise = blame
